*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #f2f2f2;
}
header{
    position: fixed;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    height: 10%;
    background-color: rgb(178, 178, 190);
}
main{
    height: 100vh;
}
.logo{
    font-family: 'Georgia', serif;
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    color: white;
}
nav > ul{
    font-family: bebas-neue;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0 auto;
    padding-right: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    gap: 10rem;
}
nav > ul > a{
    text-decoration: none;
    color: white;
}
nav > ul > a:hover{
    cursor: pointer; 
    background-color: #76768f;
}
.item1{
    grid-column: 2/3;
}
.item2{
    grid-column: 3/4;
}
.item3{
    grid-column: 2/3;
}


.center {
    text-align: center;
  }
.placeholder-image{
    padding: 10px;
    width: 5rem;
    height: 5rem;
}
.empty{
    background-color: blue;
    height: 10%;
    width: 100%;
}
.donut-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#menu{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    font-family: 'Georgia', serif; 
    font-size: 1.2em; 
    color: #6F4F28; 
    
}
#About{
    font-family: 'Georgia', serif; 
    font-size: 1.2em; 
    color: #6F4F28; 
    line-height: 1.6; 
    text-align: center;
    padding: 20px;
    background: #FFF5E1; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    margin: 20px auto; 
}
.center> h1{
    font-family: proxima-nova;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1px;
}
.location{
    margin: 20px;
}
hr{
    width: 75%;
    
}
.submit-button{
    margin-top: 10px;
    background-color: yellow;
    border-radius: 10px;
    width: 5rem;
    height: 1.5 rem;
}
.submit-button:hover{
    cursor: pointer;
}
.email-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
